@import '../styles/colors';

.page_container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  
  .page_content {
    max-width: 1195px;
    margin: 80px auto 0;
    display: flex;
    position: relative;
  }
}

@media screen and (max-width: 480px) {
  .page_container {
    overflow: unset;
    
    .page_content {
      overflow: auto;
    }
  }
}

.snackbar-success {
  background-color: $color-green !important;
}
.snackbar-error {
  background-color: $color-red !important;
}
.snackbar-info {
  background-color: $color-light-blue !important;
}
