@import '../../../../../../styles/colors';

.fixed_chat_list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px 8px 20px;
  background-color: $color-dark-blue;
  color: #fff;
  cursor: pointer;

  .fixed_chat_list-header_left {
    display: flex;
    align-items: center;
  }

  h3 {
    color: #fff;
    margin-left: 20px;
    font-family: 'Source Sans Pro';
    font-weight: 500;
  }

  .fixed_chat_list-header_icon {
    padding: 2px 5px;
    border-radius: 2px;

    &:hover {
      background-color: $color-dark-blue-hover;
    }
  }
}
