@import '../../styles/colors';

.fixed_chat_container {
  position: fixed;
  bottom: 0;
  right: 20px;

  .fixed_chat_list {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(6, 36, 80, 0.2);

    .fixed_chat_list-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px 10px 20px;
      background-color: $color-dark-blue;
      color: #fff;
      cursor: pointer;

      .fixed_chat_list-header_left {
        display: flex;
        align-items: center;
      }
      
      h3 {
        color: #fff;
        margin-left: 20px;
        font-family: 'Source Sans Pro';
        font-weight: 500;
      }

      .fixed_chat_list-header_icon {
        padding: 2px 5px;
        border-radius: 2px;

        &:hover {
          background-color: $color-dark-blue-hover;
        }
      }
    }

    .fixed_chat_list-body {
      .fixed_chat_list-search {
        padding: 15px;
      }

      .fixed_chat_list-scrollable {
        overflow: auto;
        max-height: 60vh;

        .fixed_chat_list-item {
          display: flex;
          padding: 10px 15px;
          border-top: 1px solid $color-disabled;
          cursor: pointer;
  
          .fixed_chat_list-item_right {
            margin-left: 15px;
            overflow: hidden;
  
            p {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
  
          &:hover {
            background-color: $color-background;
          }
        }
      }

    }
  }
}
