@import '../../../../../../../styles/colors';

.input_container {
  display: flex;
  
  .input_content {
    min-height: 40px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(6, 36, 80, 0.2);
    margin-left: 10px;
    padding: 10px;

    .input_row {
      display: flex;

      textarea {
        align-self: center;
        width: 100%;
        resize: none;
        font-size: 14px;
        color: $color-grey;
      }
  
      .clickable {
        padding: 2px 7px;
        display: flex;
  
        svg {
          color: $color-grey;
          cursor: pointer;
        }
  
        &:hover {
          background-color: $color-background;
        }
      }
    }

  }
}

@media screen and (max-width: 480px) {
  .input_container {
    .input_content {
      flex-wrap: wrap;
      justify-content: flex-end;

      .clickable {
        margin-top: 10px;
      }
    }
  }
}
