@import '../../../../../../../styles/colors';

.input_container {
  display: flex;
  
  .input_content {
    display: flex;
    min-height: 40px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(6, 36, 80, 0.2);
    margin-left: 10px;
    padding: 10px;

    textarea {
      align-self: center;
      width: 100%;
      resize: none;
      font-size: 14px;
      color: $color-grey;
    }

    svg {
      margin: 0 5px;
      color: $color-grey;
      cursor: pointer;
    }
  }
}
