@import '../../../../../styles/colors';

.post_files {
  padding: 0 25px 5px;

  .post_files-item {
    display: flex;
    align-items: center;
    color: $color-grey;
    margin-bottom: 5px;

    p {
      margin-left: 5px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
