@import '../../../../styles/colors';

.groups_card {
  width: 335px;

  .card_header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: $color-dark-blue;
    padding: 15px 0;

    p {
      margin-left: 5px;
      color: #fff;
    }
  }

  .card_body {
    text-align: center;
    overflow: auto;
    width: 100%;

    .group_overview_item {
      display: flex;
      align-items: center;
      color: $color-grey;
      margin: 20px 10% 0 10%;

      .group_overview_item-right_side {
        margin-left: 10px;

        p {
          color: $color-grey;
          width: fit-content;
          
          &:not(.group_overview_item-right_side-users) {
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }

          &.group_overview_item-right_side-users {
            color: $color-light-purple;
            font-size: 14px;
            margin-top: 2px;
          } 
        }
      }
    }
  }

  .card_footer {
    padding-bottom: 20px;
    margin-top: 30px;
  }
}
