@import '../../../../styles/colors';

.fixed_chat_list {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(6, 36, 80, 0.2);

  .fixed_chat_list-body {
    .fixed_chat_list-scrollable {
      overflow: auto;
      max-height: 60vh;
    }
  }
}
