$color-dark-blue: #062450;
$color-light-blue: #0075FF;
$color-light-purple: #8B98D0;

$color-grey: #707070;
$color-disabled: #D0D0D0;

$color-green: #2CBD9B;
$color-red: #F05656;

$color-background: #F4F5F9;

:export {
  background: $color-background;
}
