@import '../../../../styles/_colors';

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 30px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;

  &.active {
    background-color: $color-light-blue;
  }

  p {
    font-family: 'Source Sans Pro';
    color: #fff;
  }
}
