.post_statistics {
  padding: 10px 25px 5px;
  align-self: flex-start;
  display: flex;

  p {
    font-size: 12px;
    cursor: pointer;

    &:first-child {
      margin-right: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}