@import '../../styles/_colors';

.header_container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: $color-dark-blue;

  .content {
    max-width: 1195px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .left {
      width: 250px;
      padding: 5px 0;
      
      p {
        color: #fff;
      }
    }

    .center {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 550px;
      margin: 0 30px;
    }

    .right {
      width: 335px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
