.footer_links {
  margin-top: 10px;

  p {
    font-size: 14px;
    float:left;
    cursor: pointer;

    &:nth-child(2) {
      float: right;
    }

    &:last-child {
      clear: both;
      line-height: 24px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
