@import '../../../../../styles/colors';

.post_actions {
  padding: 5px 25px;
  display: flex;

  .clickable {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 2px;

    svg {
      color: $color-grey;
      margin-right: 5px;
    }

    &:first-child {
      margin-right: 25px;

      &.focused {
        h4 {
          color: $color-red;
        }

        svg {
          fill: $color-red;
          color: $color-red;
        }
      }
    }

    &:hover {
      background-color: $color-background;
    }
  }
}
