.profile_card_container {
  position: fixed;
  
  .card {
    width: 250px;
    padding: 25px 0;
  
    .profile_image {
      background-image: url('/images/andrei-bw.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      margin-bottom: 15px;
    }
  
    h4 {
      font-weight: 900;
    }
  
    button {
      margin-top: 60px
    }
  }
}

@media screen and (max-width: 1195px) {
  .profile_card_container {
    left: 20px;
  }
}

@media screen and (max-width: 830px) {
  .profile_card_container {
    display: none;
  }
}
